.LungImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

.LungCancerBody {
  justify-content: center;
  width: 60%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.CancerTitle {
  text-align: center;
}