.home-container {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    overflow: hidden
}

.diagram {
    height: 100vh;
    background-image: url('/img/diagram.jpg');
    background-size: 55% 100%;
    background-repeat: no-repeat;
    background-position: center center;

}

.heart-b {
    position: sticky;
    left: 70%;
    top: 40%;
}

.brain-b {
    position: sticky;
    left: 30%;
    top: 18%;
}

.small-b {
    position: sticky;
    top: 93%;
    left: 64%;

}

.stomach-b {
    position: sticky;
    top: 57%;
    left: 71%;

}

.liver-b {
    position: sticky;
    top: 56%;
    left: 25.5%;
}

.lungs-b {
    position: sticky;
    top: 40%;
    left: 26%;
}

.kidney-b {
    position: sticky;
    top: 69%;
    left: 70%;
}

.large-b {
    position: sticky;
    top: 70%;
    left: 25%;
}